src/market/db/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="User.xsd"></xs:include>
<xs:include schemaLocation="OrderProduct.xsd"></xs:include>
	<xs:element name="order" type="OrderType">
	</xs:element>
	<xs:complexType name="OrderType">
		<xs:sequence>
			<xs:element name="uuid" type="xs:string"/>
			<xs:element name="user" type="UserType"/>
			<xs:element name="date" type="xs:date"/>
			<xs:element name="cost" type="xs:float"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
