src/library/models/Booking.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="BookInstance.xsd"></xs:include>
	<xs:include schemaLocation="Reader.xsd"></xs:include>
	<xs:element name="ENTER_NAME_OF_ROOT_ELEMENT_HERE">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="BookingType">
		<xs:sequence>
			<xs:element name="bookInstance" type="BookInstanceType"></xs:element>
			<xs:element name="reader" type="ReaderType"></xs:element>
			<xs:element name="startDate" type="xs:date"></xs:element>
			<xs:element name="returnDate" type="xs:date"></xs:element>
			<xs:element name="finishDate" type="xs:date"></xs:element>
		</xs:sequence>
	</xs:complexType> 
</xs:schema>
